.modal {
    position: fixed !important;
}

section.content {
    z-index: auto !important;
}

.red_label {
    color: rgba(255, 0, 0, 0.815);
}

label {
    font-weight: 800;
}

.fc .fc-toolbar {
    background: #3974ba !important;
}

.modal-content {
    border-radius: 10px !important;
}

.fc .fc-view-container .fc-event {
    border-radius: 5px !important;
}

.fc-title {
    color: white;
}

.select2 {
    width: 100% !important;
}

textarea.form-control {
    padding: 2% !important;
}

/* Añadir estilo de botón al pasar el mouse */
.badge.activarInactivar,
.badge.btnActivo,
.badge.btnInactivo {
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.l-blush-azul {
    background: linear-gradient(45deg, #0b4d81, #14bac8) !important;
    color: #fff !important;
}

.datepicker {
    padding: 0px 6px !important;
    visibility: visible !important;
    opacity: 1 !important;
    border-radius: 6px !important;
    transform: unset !important;
    -webkit-transform: unset !important;
    max-width: 100% !important;
    /*width: 100% !important;*/
}

.bootstrap-select {
    visibility: hidden !important;
    display: none !important;
}

.chosen-container {
    font-size: inherit !important;
}

.chosen-container-single .chosen-single {
    background: transparent;
    border-radius: 15px;
    height: 32px;
    align-content: center;
    border: 1px solid #aaa;
}

.chosen-container-single .chosen-single span {
    color: grey;
}

.chosen-container-single .chosen-single div {
    top: 3px;
}
.notify .heartbit {
    border-color: #eddd34 !important;
}
.notify .point{
    background-color: #eddd34 !important;
}

.cardNotificacion {
    width: 650px !important;
}

.dt-button-collection{
    position: unset !important;
}