
.txtEspecificar{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 25px;
}

.txt-hidden{
    width: 50px !important;
    display: none !important;
}

/**-------RADIO---------**/
.custom-radio>label{
    cursor:pointer !important;
}

/*----TABLES--*/
table{
    width: 100%;
}


th{
    text-align:center !important;
    padding-right: 0px !important;
    height: 25px !important;
}
.tdClick{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:#ee702e;
    min-width:40px;
    height: 25px !important;
}

td{
    padding: 5px 5px;
    height: 40px !important;
}

/*table.dataTable tr:last-of-type td {
  border-bottom: 1px solid #f3f3f3 !important;
}*/

/*#tbl_AmbienteLaboral2>th,td{
  border: 1px solid #f3f3f3;
  padding-left: 5px;
}*/
table.dataTable {
    border-collapse: collapse !important;
}


table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before {
    content: "";
}


table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
    content: "";

}

table.dataTable td {
    padding-top: 5px;
    padding-bottom: 5px;
}


/**DATEPICKER AND SELECT2**/
.datepicker{
    cursor: pointer;
    background-color: white !important;
    border-radius: 0.1rem !important;
}

.select2-container {
    width: 100% !important;
}

.select2-container--bootstrap .select2-selection--single {
    padding: 0.65rem 0.75rem 0.5rem 0.75rem;
    height: calc(2.4rem + 3px);
    border-radius: 0.1rem !important; }

.select2-dropdown,
.select2-container--bootstrap .select2-selection.form-control {
    background: white; }

.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
    background: white;
    color: #212121; }

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #212121; }

.input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #d7d7d7;
    color: #212121;
    font-size: 0.8rem;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem; }

.select2-container--bootstrap .select2-selection {
    border: 1px solid #d7d7d7; }

.select2-container {
    width: 100% !important; }

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: calc(2.4rem + 1px); }

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #145388; }

.select2-container--bootstrap .select2-dropdown {
    border-color: #145388; }

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #145388;
    color: #fff; }

.select2-dropdown,
.select2-container--bootstrap .select2-selection.form-control {
    border-radius: 0.1rem !important; }

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0.1rem !important;
    border: 1px solid #8f8f8f;
    outline: initial;
    background: white;
    color: #212121; }

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    outline: initial;
    background: white;
    color: #212121; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    border-radius: 0.1rem;
    background: white;
    color: #212121;
    border-color: #d7d7d7;
    margin: 9px 0 0 8px; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover {
    outline: initial;
    text-shadow: initial;
    color: #145388; }


.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 10px; }



.datepicker-dropdown:before {
    border-bottom-color: rgba(33, 33, 33, 0.2); }

.datepicker table tr td.range {
    color: #fff;
    background-color: #145388;
    border-color: #145388; }

.datepicker table tr td.selected,
.datepicker table tr td.selected.highlighted {
    color: #fff;
    background-color: #145388;
    border-color: #145388; }

.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(33, 33, 33, 0.2); }

.datepicker table tr td,
.datepicker table tr th {
    color: #212121; }

.datepicker-dropdown.datepicker-orient-top:after {
    border-top-color: white; }

.datepicker-dropdown.datepicker-orient-bottom:after {
    border-bottom-color: white; }

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: #d7d7d7; }

.datepicker table tr td,
.datepicker table tr th {
    width: 35px;
    height: 35px;
    border-radius: 0.1rem; }

.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
    color: white;
    background-color: #145388;
    border-color: #145388; }

.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active:active:hover {
    color: white;
    background-color: #145388;
    border-color: #145388; }

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
    background-color: #145388;
    border-color: #145388; }

.datepicker.datepicker-inline,
.datepicker.datepicker-inline table {
    width: 100%; }

.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
    background: #d7d7d7; }

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #d7d7d7; }
